# OS metadata
.DS_Store
Thumbs.db

# Editor metadata
.vscode/
*.swp

# package directories
node_modules/

# temp directory
tmp/

# configuration and dotfiles
.env
.env.local
.env.development.local
.env.production.local

# rollup plugins
.rpt2_cache/
.size-snapshot.json
